*{
    box-sizing: border-box ;
    
}
.container1{
    width: 100%;
    background-color:black;
    color: antiquewhite;
}
.left1{
    display: flex;
    width: 80%;
    margin: auto;
}
.left{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 50%;
}
.left div{
    border-right: 1px solid blue;
    padding: 2px;
    margin-top: 5px;
    text-align: center;

}
.right{
width: 50%;
display: flex;
padding: 5px;
justify-content: end;
margin-top: 5px;
}
.right div{
    padding: 5px;
}
.phone{
     border-right: 1px solid;
}
.container2{
    width: 100%;
    background-color: antiquewhite;
    padding-top: 10px;
    padding-bottom: 10px;
}
.image1{
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.image{
    width: 50%;  
}
.letter{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 50px;  
    width: 50%;
}
.letter div a{
    background-color: orange;
    padding: 10px;
    margin-top: 40px;
}
.letter a{
    text-decoration: none;
    display: block;
    margin: auto;
}
.letter a:hover{
    background-color: rgb(0, 221, 74);
    padding: 10px;
    margin: auto;
    color: white;
}
.container3{
    background-color: black;
    color:white;
    width: 100%;
    padding: 50px 0;
}
.tiles{
    grid-template-columns: auto auto auto;
    display: grid;
    margin: auto;
    width: 80%;
    column-gap: 100px;
}
.paint p{
    background-color:white;
    line-height: 3;
    color: black;
    text-align: center;
    padding: 20px;
    margin: 0px;
}
.paint h3{
    background-color: gray;
    margin: 0px;
    padding: 20px;
}
.paint div{
    background-color: rgb(37, 235, 37);
    padding: 20px;
    text-align: center;
} 
.paint a{
    text-decoration: none;
    color: white;
}
.container4{
    padding: 50px 0;
    width: 100%;
}
.nav{
    display: flex;
    width: 80%;
    margin:auto
}
.nav1{
    width: 50%;
}
.nav2{
    width: 50%;
}
.nav1 img{
    width: 70%;
}
.nav1 div{
    width: 60%;
    height: 400px;
    padding-top: 220px;
    background-color: black;
    color: white;
    text-align: center;
}
.nav1 a{
    text-decoration: none;
    color: yellow;
    background-color: red;
}
.navm{
    display: flex;
    border-bottom: 2px;
}
.box{
    height: 100px;
    width: 150px;
    background-color: black;
}
.navm h3{
    margin: 0%;
}
.navm h6{
    margin: 0%;
} 
.navm a{
    text-decoration: none;
    color: aqua;
    background-color:red;
}
.net {
     padding-left: 20px;
}
.container5{
    width: 100%;
    background-color: antiquewhite;
}
.snap {
    text-align: center;
    margin: 0 0 30px 0;
}
.snap h5,.snap h3{
    margin: 0px;
}
.inline{
    display: flex;
    margin: 20px;
    margin-left: 0px;
    text-align: center;
    width: 50%;
}
.inline .dot{
    background-color:black;
    width: 200px;
    
}
.in{
    background-color: yellow;
    height: 200px;
    width: 200px;
    padding-left: 5px;
}
.in a{
    text-decoration: none;
    background-color: black;
    color: aqua;
    padding-left: 5px;
}
.block{
    display: flex;
    margin-left: 90px;
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}
.container6{
    width: 100%;
    background-color: black;
    color: white;
    justify-content: center;
}
.sql1{
    display: flex;
    width: 80%;
    margin: auto;
}
.sql{
    width: 33.33333%;
    padding-bottom: 20px;
}
.my{
    width: 33.33333%;
    padding-left: 40px;
}
.my1 div{
    color: yellow;
    padding: 10px;
}
.my1{
    color: white;
    padding: 5px;
}
.my div:hover{
    color: blue;
}
.submit{
    background-color: green;
    color: white;
    margin-top: 20px;
}
.facebook{
    width: 200px;
    background-color: white;
}
.facebook img{
   max-width: 100%;
}
.container7{
    width: 100%;
    background-color: blue;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}
.copy{
    width: 80%;
    margin: auto;
}


@media(max-width:576px){
    .tiles{
      grid-template-columns: auto;
      display: block;
    }
    .image{
        width: 100%;
        background-color: white;
        text-align: center;
    }
    .nav{
        display: block;
    }
    .block{
        display: block;
    }
    .container6{
        display: block;
    }
    .container1{
        display: block;
    }
    .block{
        margin: auto;
    }
    .left{
        width: 100%;
    }
    .left1{
        display: block;
    }
    .right{
        margin: auto;
        justify-content: center;
    }
    .container2{
        display: block;
    }
    .image1{
        display: block;
    }
    .letter{
        display: block;
        text-align: center;
        width: 100%;
    }
    .letter a{
        margin-top: 10px;
    }
    .paint{
        padding-bottom: 10px;
    }
    .navm{
        display: block;
        text-align: center;
    }
    .nav1{
        margin: auto;
    }
    .nav1 h3{
        text-align: center;
    }
    .nav1 div{
        padding-top: 0px;
        height: max-content;
        padding-bottom: 10px;
        width: 100%;
    }
    .nav2{
        width: 50%;
        margin: auto;
    }
    .nav2 h3{
        text-align: center;
    }
    .net{
        padding-left: 0px;
        padding-bottom: 10px;
    }
    .in{
        height: max-content;
    }
    .sql{
        width: 100%;
        text-align: center;
    }
    .sql1{
        display: block;
    }
    .my{
        margin-top: 10px;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-left: 50px;
        padding: 0px;
    }
    .my1 div{
        padding: 5px;
    }
    .inline{
        width: 100%;
    }
    .dom{
        width: 100%;
        text-align: center;
    }
    .box{
        width: 140px;
    }
    .facebook{
        margin-left: 45px;
    }
    .container7{
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: center;
    }
}





